/* Stylesheet of TesseractPage.tsx */

.content_container {
    --offset-top: -4px !important;
    --offset-bottom: -12px !important;

    .grid_container {
        padding: 12px;
        height: 100%;
    
        .row {
            height: 100%;
            
            .col {
                height: 100%;
                display: flex;
                border: 1px solid #e4e4e4;
                border-radius: 12px;
            }

            .results_col {
                margin: 12px 0px 0px 0px;
            }
        }
    }
}

.fab_container {
    .fab_btn {
        --background: #BDC4CC;
        opacity: 0.65;
    }
}

/* set Media Queries for different display sizes and orientation of devices */
@media screen and(min-width: 512px) {
    .content_container {
        --offset-top: 0px !important;
        --offset-bottom: 0px !important;

        .grid_container {
            padding: 8px;

            .row {
                .results_col {
                    margin: 0;
                }
            }
        }
    }

    .fab_container {
        display: none;
    }
}
