/* Stylesheet of OCRContainer.tsx */

.ocr_container {
    height: 100%;

    .flex_container {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        
        .btn_container {
            width: 90%;
            
            .title {
                text-align: center;
                margin: 0px 0px 21px 0px;
                font-size: 16px;
                line-height: 1.75;
                
                span {
                    color: var(--ion-color-primColor);
                }
            }
    
            .btn {
                height: 46px;
                --background: var(--ion-color-primColor);
                text-transform: none;
                font-size: 16px;
                --border-radius: 52px;
            }
        }

        .results_container {
            padding: 0px 12px 0px 12px;
            line-height: 1.75;
            font-size: 14px;
            
            .label_container {
                padding: 12px;
                margin: 0px 0px 16px 0px;
                display: flex;
                align-items: center;
                background: #f1f1f1;
                border-radius: 4px;

                .icon {
                    margin: 0px 12px 0px 0px;
                    font-size: 21px;
                }

                .label {
                    font-size: 16px;
                    font-weight: bold;
                }
            }

            .text_container {
                padding: 0px 12px 0px 12px;
            }

            .additional_information {
                padding: 0px 12px 0px 12px;
                margin: 21px 0px 0px 0px;

                span {
                    font-weight: bold;
                }

                .label {
                    margin: 0px 0px 12px 0px;
                    font-size: 16px;
                }
            }

            hr {
                background: #e6e6e6;
            }
        }
    }
}

/* set Media Queries for different display sizes and orientation of devices */
@media screen and(min-width: 512px) {
    .ocr_container {
        .flex_container {
            .title {
                font-size: 18px !important;
            }

            .btn_container {
                width: 65%;

                .btn {
                    height: 52px;
                }
            }
            
            .results_container {
                padding: 0px 21px 0px 21px;
                font-size: 16px;

                .label_container {
                    .icon {
                        font-size: 26px;
                    }

                    .label {
                        font-size: 18px;
                    }
                }

                .additional_information {
                    .label {
                        font-size: 18px;
                        font-weight: bold;
                    }
                }
            }
        }
    }
}