/* Stylesheet of ImageUploader.tsx */

.image_uploader_container {
    .fab_container {
        right: 16px;
        bottom: 16px;

        .fab_btn {
            --background: #30394a;
        }
    }
}